# build output
dist

# dependencies
node_modules

# logs
*.log
npm-debug.log
yarn-error.log
package-lock.json

# other
.next
yarn-lock
package-lock.json

# coverage
.nyc_output
coverage

.history
.DS_Store